# IDE Stuff
.vscode
.settings
settings.xml
Query Ideas.md
.github/workflows-old/*
.engine/*

# Logs
logs/*
test-harness/logs/*

# Test Results
test-harness/tests/results/*

# Dependencies
test-harness/coldbox/*
test-harness/testbox/*
test-harness/modules/*
modules/*

# Gitbook artifacts
_book/*


# Build artifacts
.tmp/*
.artifacts/*
apidocs/docbox/*
build/workbench/*
changelog-latest.md

# test environment secrets
test-harness/.env