# IDE Stuff
.vscode
.settings
settings.xml

# Logs
logs/*.log

# Test Results
tests/results/*

# Dependencies
coldbox/*
testbox/*
modules/*
!modules/cbelasticsearch

# Gitbook artifacts
_book/*


# Build artifacts
.tmp/apidocs
artifacts/*
apidocs/docbox/*
workbench/*
build/*

# test environment secrets
.env