# IDE Stuff
.vscode
.settings
settings.xml

# Logs
logs/*.log

# Test Results
tests/results/*

# Dependencies
coldbox/*
testbox/*
modules/cbjavaloader

# Gitbook artifacts
_book/*


# Build artifacts
artifacts/*
apidocs/docbox/*
workbench/*
build/*